<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emotion Detection</title>
    <link rel="stylesheet" href="./../static/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <h1>Emotion-Based Music Recommendation</h1>
    <button id="detectEmotion">Detect Emotion & Recommend Songs</button>
    <div id="result"></div>
    
    

    <script>
        $(document).ready(function () {
            $("#detectEmotion").click(function () {
                $.ajax({
                    url: "http://127.0.0.1:5000/detect-emotion-and-recommend",
                    type: "POST",
                    dataType: "json",
                    success: function (data) {
                        if (data.error) {
                            $("#result").html(`<p>Error: ${data.error}</p>`);
                        } else {
                            const { emotion, songs } = data;
                            $("#result").html(
                                `<h2>Emotion Detected: ${emotion}</h2>
                                 <h3>Recommended Songs:</h3>
                                 <ul>${songs.map(song => `<li><a href=${song[1]}>${song[0]}</a></li>`).join('')}</ul>`
                            );
                        }
                        
                    },
                    error: function (xhr, status, error) {
                        $("#result").html(`<p>Failed to fetch recommendations: ${error}</p>`);
                    }
                });
            });
        });
    </script>
</body>
</html>
